<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #styleRessource},
                                                ~{:: #content},
                                                ~{:: #javascriptResources})}">
<head>
    <title>Picoulet Axel - Liste des articles</title>
    <th:block id="styleRessource">
    </th:block>
</head>
<body>

<section id="content">
    <div class="container mt-4 mb-4">
        <div class="card">
            <div class="card-header bg-dark text-white mb-0">
                <div class="row">
                    <div class="col my-auto">
                        <h2>Liste des articles</h2>
                    </div>
                    <div class="col-1 my-auto text-center">
                        <a class="nav-link" th:href="@{/articles/ajouter}">
                            <i class="far fa-plus-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body m-0 p-0">
                <table class="table table-dark m-0">
                    <thead>
                    <tr>
                        <th scope="col">#Référence</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prix</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="article : ${articles}">
                        <tr>
                            <td th:text="${article.articleReference}"></td>
                            <td th:text="${#strings.capitalize(article.articleNom)}"></td>
                            <td th:text="${#strings.abbreviate(article.articleDescription, 80)}"></td>
                            <td th:text="${#numbers.formatDecimal(article.articlePrix, 1, 'DEFAULT', 2, 'DEFAULT') + '€'}"></td>
                            <td class="text-right">
                                <a th:href="@{/articles/{id}(id = ${article.articleReference})}"
                                   th:class="text-decoration-none">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a th:href="@{/articles/supprimer/{id}(id = ${article.articleReference})}"
                                   th:class="text-decoration-none">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<th:block id="javascriptResources">
</th:block>
</body>
</html>